.dashboard__ {
  &content {
    min-height: 100%;
    background-color: var(--pf-v5-global--BackgroundColor--100);
  }

  &header {
    display: flex;
    align-items: end;
  }
  &success-status {
    color: var(--pf-v5-global--success-color--100)
  }
  &navtab-title {
    width: 100%;
  }
  &tabs-content {
    display: flex;
  }
  &tabs-nav{
    flex-shrink: 0;
  }
  &in-progress-text {
    color: var(--pf-v5-global--palette--blue-500);
    > svg {
      color: initial
    }
  }
}

.page-header {
  padding-bottom: 0;
}

.status {
  font-size: 14px;
}

.page-title {
  margin-bottom: 16px;
}

.stack-item {
  margin-top: 8px;
  font-size: 14px;
}
